* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #f6f6f6;
}

.container {
  background-color: white;
  width: 40%;
  margin: 5em auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
}

#inputTask {
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
}

#inputText {
  border: none;
  font-style: italic;
  width: 95%;
}

#inputText:focus{
  outline: none;
  border: none;
}

#newInput{
  border: none;
  font-style: italic;
  width: 95%;
}

#newInput:focus{
  outline: none;
  border: none;
}

.inputForm{
  display: flex;
  justify-content: space-between;
}

.elem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
}

.bi {
  margin-right: 5px;
}

p {
  margin-right: auto;
}

#clearAll {
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    font-size: medium;
    color: #b8b8b8;
    font-family: auto;
}

#btnCheck {
  padding-right: 5px;
}

.lineThrough{
  text-decoration: line-through;
  color: #8c8c8c;
}

